@import url("theme.css");
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 40px;
}
.wrapper {
    background: #fff;
}

.content-sm {
    padding-top: 60px;
    padding-bottom: 60px;
}

.brand-image {
    width: 32px;
    height: 32px;
}

/*Margins*/
.margin-top-20,
.margin-bottom-40 {
    clear: both;
}

.margin-top-20{
    margin-top: 20px;
}

.margin-bottom-40 {
    margin-bottom: 40px;
}

/*Buttons*/

.btn-dark {
    background: #555;
}

/*Panels*/
.panel-green {
    border-color: #2ecc71;
}

.panel-green > .panel-heading {
    background: #2ecc71;
}

.panel-lgreen {
    border-color: #72c02c;
}

.panel-lgreen > .panel-heading {
    background: #72c02c;
}

.panel-dark {
	border-color: #555;
}

.panel-dark > .panel-heading {
	background: #555;
}

/*Scrollup*/
div.scrollup {
   position: fixed;
   color: #fff;
   background-color: #72c02c;
   right: 10px;
   bottom: 0;
   padding: 4px 10px;
   font-size: 20px;
   border-top-left-radius: 4px;
   border-top-right-radius: 4px;
   cursor: pointer;
   display: none;
   text-align: center;
}

div.scrollup:hover{
    background-color: #000;
}

/*Footer*/
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #eee;
    height: 40px;
}

.footer p {
    color: #555;
    margin: 10px 0;
}

/*Search block*/
.search-block {
    padding: 40px 0 50px;
    border-bottom: 1px solid #eee;
    background: url(../images/breadcrumbs.png) repeat;
}

.search-block h2 {
	font-size: 24px;
	font-weight: 200;
	text-align: center;
	margin-bottom: 18px;
	text-transform: uppercase;
}
.search-block .search-button {
    background: #72c02c;
    color:#fff;
}

.table-search thead {
    border-bottom: solid 1px #ddd;
}

.table-search td {
    vertical-align: central !important;
}

.table-search td a {
    color: #555;
}

.table-search td span.label {
    display: block;
    font-size: 12px;
    font-weight: 400;
    padding: 4px 7px;
}

.table-search .td-width {
    width: 55%;
}

.table-search .table-buttons {
    margin: 0;
}

    .table-search .table-buttons li {
        margin: 0;
    }
    
    .table-search .table-buttons .btn-sm {
        padding: 3px 6px;
    }
.input-sshort {
    max-width: 30%;
}.input-xshort {
    max-width: 10%;
}