<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <environment name="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link href="~/lib/summernote/dist/summernote.css" rel="stylesheet" />
        <link href="~/css/style.css" rel="stylesheet" />
    </environment>
    @*<environment name="Staging, Production">
        <link href="~/css/site.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>*@
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="wrapper">
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a asp-controller="Recipe" asp-action="Index" class="navbar-brand">Менеджер рецептов</a>
                </div>
                <div class="pull-right">
                    <a asp-controller="Recipe" asp-action="Create" class="btn btn-primary navbar-btn">Создать новый</a>
                </div>
            </div>
        </nav>
        @RenderBody()
        <footer>
            <div class="copyright">
                <div class="container">
                    <p class="text-center">2015 <i class="fa fa-copyright"></i> Менеджер рецептов.</p>
                </div>
            </div>
        </footer>
        <div class="scrollup">
            <i class="fa fa-chevron-up"></i>
        </div>
    </div>

    <environment name="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    </environment>
    @RenderSection("Scripts", false)
    <script type="text/javascript">
        $(function () {
            $('.scrollup').click(function () {
                $('html, body').animate({
                    scrollTop: 0
                }, 800);
            })
        });
        $(window).scroll(function () {
            if ($(this).scrollTop() != 0) {
                $('.scrollup').fadeIn();
            } else {
                $('.scrollup').fadeOut();
            }
        });
    </script>
</body>
</html>
